# Django settings
SECRET_KEY=3W15JB9VNbMv5spDYELO3V37SZ9kPvXj
DEBUG=True
DATABASE_URL=postgres://USER:PASSWORD@HOST:PORT/DBNAME

# AWS S3
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=

# Redis & Celery
REDIS_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=${REDIS_URL}

# External services
KFP_API_URL=
KFP_AUTH_TOKEN=
GARDENER_URL=
CALLBACK_BASE_URL=
